/* Navbar Styles */
.page-top {
    width: 100%;
    margin: 0;
}
.menubar {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    clear: both;
}
#home {
    border: 2px solid white;
    border-radius: 20px;
    float: left;
    width: 320px;
    height: 130px;
    font-size: 1em;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    background-image: url("../../assets/images/newcook.png");
}
.navbar {
    font-family: 'Audiowide', cursive;
    float: right;
    margin-top: 25px;
}
.navbar a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    color: turquoise;
    font-size: 1em;
    border-left: 3px solid #850D03;
}
.navbar a:first-child {
    border-left: none;
}
nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
    width: 60%;
    background: none;
}

/*_____ General CSS for Entire Page _____*/
body {
    background-image: url("../../assets/images/fandb.jpg");
    font-family: 'Khand', sans-serif;
    background-attachment: fixed;
}
main {    
    padding-top: 30px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
h1,
h2,
h3,
h6 {
    color: turquoise; margin: 0;
}

/*_____ CSS for Input Form _____*/
label {
    font-size: 15px;
    color: #D72016;
}
input {
    margin-bottom: 5px;
}
#search-form {
    background-color: #BB9562;
    width: 100%;
    padding: 20px;
    border: 1px solid #850D03;
    border-radius: 20px;
    margin-bottom: 20px;
}
#diet {
    padding-left: 20px;
    padding-right: 30px;
    width: 180px;
    height: 100px;
    border: 2px solid turquoise;
    border-radius: 20px;
    float: left;
}
#allergy {
    padding-left: 20px;
    padding-right: 30px;
    width: 180px;
    height: 100px;
    border: 2px solid turquoise;
    border-radius: 20px;
    float: left;
}
#recipeSet {
    margin: 0;
    height: 100px;
}

/*_____ CSS for Search History Display _____*/
#history {
    width: 100%;    
    padding: 30px;
    margin-bottom: 20px;
    background-color: #F4E0B2;
    border: 1px solid #850D03;
    border-radius: 20px;
}
.tone:hover {
    background: teal;
}
.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #850D03;
    margin-top: 10px;
}
.searchTab th {
    text-decoration: underline;
    font-weight: bold; 
}
.searchTab th, .searchTab td {
    font-size: 1em;
    border: 1px solid rgba(141, 137, 137, 0.5);
    padding: 20px;
}


/*_____ CSS for Recipes Display _____*/
.displayRecipe {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;    
    background-color: #BB9562;
    border-radius: 20px;
    border: 1px solid #850D03;
}

.recipe {
    margin-top: 30px;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.noResponse {
    color: red;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: beige; 
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}
.recipeImage{
    float: right;
    padding-bottom: 20px;
}


/*_____ CSS for wiki search _____*/
#wiki {
    margin-top: 10px;
    margin-left: 10px;    
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid turquoise;
    border-radius: 20px;
}
#alert {
    font-weight: bold;
    color: red;
    border-color: 1px solid white;
}
fieldset {    
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;    
    box-sizing: border-box;
    border: 2px solid turquoise;
    border-radius: 20px;
}
#wikiClear {
    width: 175px;
}