.menubar {
    width: 100%;    
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
.page-top {
    width: 100%;
    margin: 0;
}
#home {
    float:left;
    width: 320px;
    height: 130px;
    font-size: 1em;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    background-image: url("../../assets/images/newcook.png");
}
.navbar {
    font-family: 'Audiowide', cursive;
    float: right;
    margin-top: 25px;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    width: 60%;
    background: none;
}
.row{
    margin: 0;
}

.navbar a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    color: turquoise;
    font-size: 2em;
    border-left: 3px solid #850D03;
}
.navbar a:first-child {
    border-left: none;
}

body {
    background-image: url("../../assets/images/fandb.jpg");
    font-family: 'Khand', sans-serif;
}

#diet {
    padding-left: 20px;
    padding-right: 30px;
    width: 150px;
    box-sizing: border-box;
    border: 2px solid turquoise;
    border-radius: 20px;
}
[type="radio"]:checked {
    position:relative;
    opacity: 10;
    pointer-events: none;
}
fieldset{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
label {
    font-size: 15px;
    color: #850D03;
}
.tone{
    color: black;
}
.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #850D03;
    margin-top: 10px;
}

#search-form {
    background-color: #BB9562;
    float: left;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border: 1px solid #850D03;
    border-radius: 20px;
}

#allergy {
    text-align: center;
}
#history {
    float: right;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    margin: 0 0 40px;
    background-color: #BB9562;
    border: 1px solid #850D03;
    border-radius: 20px;
}

main {
    padding-top: 30px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#recipeDisplay {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 30px;
    width: 100%;
    max-width: 960px;
    clear: both;
    background-color: #BB9562;
    border-radius: 20px;
    border: 1px solid #850D03;
}

.tone:hover {
    background: teal;
}

#recipeImage {
    width: 10%;
}

h1,
h2,
h3 {
    color: turquoise;
}
input{
    margin-bottom: 5px;
}
@media only screen and ( max-width: 980px) {
    #recipeDisplay {
        background-color: #BB9562;
        float: left;
        width: 100%;
        max-width: 650px;
        padding: 20px;
        border: 2px solid #850D03;
        border-radius: 20px;
    }
    #history {
        margin-top: 30px;
        padding-top: 30px;
        width: 100%;
        max-width: 650px;
        clear: both;
        background-color: #BB9562;
        float: left;
        border: 2px solid #850D03;
        border-radius: 20px;
        
    }
    #search-form {
        background-color: #BB9562;
        float: left;
        width: 100%;
        max-width: 955px;
        padding: 20px;
        border: 2px solid #850D03;
        border-radius: 20px;
    }
}