.menubar {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
.page-top {
    width: 100%;
    margin: 0;
}

#home {
    float: left;
    width: 320px;
    height: 130px;
    font-size: 1em;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    text-decoration: none;
    background-image: url("../../assets/images/newcook.png");
}
.navbar {
    font-family: 'Audiowide', cursive;
    float: right;
    margin-top: 25px;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    width: 60%;
    background: none;
}

label{
    color: aquamarine;
}

.navbar a:first-child {
    border-left: none;
}

body {
    background-image: url("../../assets/images/fandb.jpg");
    font-family: 'Khand', sans-serif;
}

#diet {
    padding-left: 20px;
    padding-right: 30px;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid turquoise;
    border-radius: 20px;
}
fieldset{
    display: inline;
    margin-left: 20px;
}
.tone{
    color: black;
}

#search-form {
    background-color: #BB9562;
}

#allergy {
    text-align: right;
}
#history {
    float: right;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    margin: 0 0 40px;
    background-color: #BB9562;
    border: 1px solid #120703;
    border-radius: 20px;
}
main {    
    padding-top: 30px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#recipeDisplay {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 30px;
    width: 100%;
    max-width: 960px;
    clear: both;
    background-color: rgb(134, 109, 85);
}
.recipe {
    margin-top: 30px;
    background-color: white;
    border: 1px solid black;
}